.profile-container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button {
    width: 70px;
    padding: 5px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    background-color: #007bff;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.profile-card {
    flex-direction: row;
    display: flex;
    justify-content: space-between;
}

.profile-name {
    font-family: sans-serif;
    color: #0866FF;
    font-weight: bolder;
    font-size: large;
}