.employee-card {
    /* background-color: #a7c7fc; */
    /* border-radius: 30px; */
    flex-direction: row;
    display: flex;
    padding: 10px;
    margin: 10px;
    text-align: center;
    justify-content: space-between;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, .1), 0 8px 16px rgba(0, 0, 0, .1) */
}

img {
    width: 128px;
    height: 128px;
    align-self: center;
    border-radius: 20px;
}

.employee-name {
    font-family: sans-serif;
    color: #0866FF;
    font-weight: bolder;
    text-align: center;
    font-size: medium;
}

/* .employee-information{
    text-align: center;
} */